<div class="submenu">
	<ul>
		<%= sub_tab_for 'Lista produktów', :przegladaj, produkty_path %>
		<%= sub_tab_for 'Nowy produkt', :dodaj_produkt, new_produkt_path %>
		<%= sub_tab_for 'Kategorie', :kategorie, kategorie_path %>
		<%= sub_tab_for 'Producenci', :producenci, producenci_path %>
	</ul>
</div>